NEXT_PUBLIC_STATIC_BASE_URL=https://your.static.assets.address.com

# MONGODB
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/yourdatabase?retryWrites=true&w=majority
MONGODB_DB="yourdatabase"
MONGODB_USERCOLLECTION="users"

# NEXTAUTH
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=JWTSecretShouldGoHere

# FASTAPI
FASTAPI_URL=https://your-api.address.com
API_SECRET=JWTSecretShouldGoHere
API_TOKEN_TIMEOUT_MINS=59
