API_SECRET=JWTSecretShouldGoHere
API_TOKEN_TIMEOUT_MINS=59

NEXT_PUBLIC_BASE_URL=https://your.frontend.address.com
NEXT_PUBLIC_COMPONENT_PREVIEW_BASE_URL=https://your.public.preview.image.address.com
NEXT_PUBLIC_COMPONENT_GEOMETRY_BASE_URL=https://your.public.geometry.address.com

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/yourdatabase?retryWrites=true&w=majority
MONGODB_DB="yourdatabase"
MONGODB_USERCOLLECTION="users"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=${API_SECRET}